@keyframes offset {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	100% {
		fill: blue;
	}
}

.plus-button {
	cursor: pointer;
	/* margin: 2em; */

	stroke: blue;
	stroke-width: 2;
	stroke-dasharray: 810px;
	stroke-dashoffset: 810px;

	animation: offset 5s linear forwards, fill 0.8s 5s forwards;

	width: 2rem;
	height: 2rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
